exams/m0305
exams/m0401
exams/m0404
exams/m0405
exams/m0502
samples/Ch10/PFArrayD
samples/Ch10/arrptr
samples/Ch10/call
samples/Ch10/copy
samples/Ch10/dangle
samples/Ch10/destructor
samples/Ch10/twodimptr
samples/Ch10/vpr
